body {
	font-family: 'Roboto', sans-serif;
	margin: 5px;
	padding: 10px;
}

.box {
	margin: 20px;
	padding: 15px;
	text-align: center;
	border-radius: 25px;
	background-color: #375a7f; 
}

.link ul {
	display: flex;
	justify-content: space-between;
	list-style-type: none;
	padding-bottom: 10px;

}
.cont {
	margin: 10px;
}
.buttons {
	float: right;
}
.footer{
	position: relative;
    bottom: 0;
    margin: 0;
    padding: 15px;
    width: 100%;
    height: 60px;
    background-color: #8d8d8d;
    line-height: 20px;
}
footer p {
	margin-bottom: 0;
}
.jumbotron{
	color : #fff;
	background-size: auto 100%;
	background-image:url("img/evvent.jpg");

}
.jumbotron h1 {
	color: #fff;
	text-shadow: 5px 5px 9px rgba(27,12,164,0.59);
}